.FeatureProudcts {}

.button {
   
    /* background-color: #132233; */
    border: 2px solid ;
    color: #eee;
    transition: .6s;
    font-size: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    overflow: hidden;
  }
  
  .button span {
    transform: translateX(10px);
    transition: .5s;
  }
  
  .button svg {
    transform: translateX(-300px);
    transition: .6s;
    z-index: 3;
    height: 20px;
  }
  
  .button:hover {
    width: 60px;
    background-color: rgba(51, 34, 51, 0.815);
    box-shadow: 20px 20px 96px #bebebe,-20px -20px 96px #ffffff;
  }
  
  .button:hover svg {
    transform: translateX(-5px);
  }
  
  .button:hover span {
    transform: translateY(70px);
    font-size: .1rem;
  }






  /* Spinner */
  
  .spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
  }
  
  .spinner::before {
    border-color: #474bff #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }
  
  .spinner::after {
    margin: 8.9px;
  }
  
  @keyframes spinner-e04l1k {
    100% {
      transform: rotate(1turn);
    }
  }


  /* Fav Icon */

.btnf button{
  /* width: 0;
  height: 0;
  border: 0;
  padding: 0; */
  color: transparent;
  background-color: transparent;
  border-width: 0px;
  box-shadow: 2px;
}

.btnf button i{
  color: red;
}
.btnf button i:hover{
  transform: scale(1.1);
}


.btn_nf button  {
  color: transparent;
  background-color: transparent;
  border-width: 0px;

}

.btn_nf button i{
  color: rgba(0, 0, 0, 0.19);
}
.btn_nf button i:hover{
  transform: scale(1.1);
}